
/* 775 by 363 */

body {
    background-color: #000000;
    font-family: 'Inconsolata', sans-serif;
    color: #fff;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
}

#globe {
    margin: 0;
    padding: 0;
}
#thumbprint {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
}

#canvas {
    margin: 0;
    padding: 0;
}


.btn {
    font-size: 10pt;
    padding: 6px;
}

#pin-lat-lon *{
    width:30%;
    margin-right: 10px;

}

#satellite-lat-lon input{
    width:30%;
    margin-right: 10px;

}

#satellite-input {
    display: none;
}

#markers-input {
    display: none;
}

#control-panel {
    position: absolute;
    left: 700px;
    top: 60px;
    width: 300px;
}

#options {
    position: absolute;
    top: 0;
    left: -270px;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    width: 350px;
    background-color: rgba(0,0,0,.9);
    border-right: 2px solid #6fc0ba;
    visibility: hidden;
}

#options-content {
    opacity: 0;
}

.header{

    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
    color: #fff;
    padding: 2px 0;
    visibility: hidden;
    left: 25px;
    width: 300px;
    font-size: 6pt

}

.header-left-section {
    float: left;
    width: 80%;
    background-color: #000;
    margin-left: -5px;
    padding: 0 8px;
}

.header-right-section {
    float: right;
    width: 20%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}

#header-bottom {
    position: absolute;
    bottom: 100px;
}


#header-top {
    position: absolute;
    top: 25px;
}

.header-animator{
    position: absolute;
    top: 300px;
    left: 25px;
    width: 300px;
    height: 2px;
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    visibility: hidden;
}

.projection {
    border-radius: 3px;
    opacity: .5;
    cursor: crosshair;
}

#add-element {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 275px; 
   padding-top: 5px;
   border-bottom: 1px solid #1d2c33;
   padding-bottom: 5px;

}

#add-element li {
   float: left; 
   width: 30%;
   text-align: center;
   border: 1px solid #1d2c33;
   border-radius: 3px;
   padding: 5px;
   margin: 5px;
   cursor: pointer;
} 

#add-element li:first-child {
   margin-left: 2px;
   
} 

#add-element .selected {
    background-color: #111;
}

