
/* 775 by 363 */

body {
    background-color: #000000;
    font-family: 'Inconsolata', sans-serif;
    color: #fff;
    font-size: 12px;
}

.btn {
    font-size: 10pt;
    padding: 6px;
}

#pin-lat-lon *{
    width:30%;
    margin-right: 10px;

}

#satellite-lat-lon input{
    width:30%;
    margin-right: 10px;

}

#satellite-input {
    display: none;
}

#markers-input {
    display: none;
}

#container {
    width: 1900px;
    height: 700px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position:absolute;
    /*border: 1px solid #00EEEE;*/
    /*border-bottom: 1px solid #333;*/

}

#globe {
    width: 600px;
    height: 500px;
}

#control-panel {
    position: absolute;
    left: 700px;
    top: 60px;
    width: 300px;
}


.header{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 3px;
    border-top: 2px solid #FFCC00;
    border-bottom: 1px solid #FFCC00;
    white-space: nowrap;
    overflow: hidden;
}


.header:before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 28px;
    width: 100%;
    height: 2px;
    background: #FFCC00;

}

#realtime-info {
    font-size: .8em;

}

.projection {
    width: 300px;
    border-radius: 3px;
    opacity: .5;
    cursor: crosshair;
}

#params {

    position: relative;
}

#params-info {
    font-size: .8em;
    height: 400px;

}
