
/* 775 by 363 */

body {
    background-color: #000000;
    font-family: 'Inconsolata', sans-serif;
    color: #fff;
    font-size: 8pt;
    margin: 0;
    overflow: hidden;
}

a {
    color: #00eeee;
}

a.github-link {
    color: #ffcc00;
}

a.arscan {
    color: #ffcc00;
}

h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0;

}

#globe {
    margin: 0;
    padding: 0;
}

#info-box {
    position:absolute;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
    background: rgba(0,0,0,.9);
    font-size: 12pt;
    z-index:10;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;

}

.wf-active #info-box{
    visibility: visible;
}

#thumbprint {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    -webkit-animation: pulsate 5s;
    -webkit-animation-iteration-count: 10; 
    animation: pulsate 5s ease-out;
    animation-iteration-count: 10; 
}

@-webkit-keyframes pulsate { 
    0% {opacity: .3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

@keyframes pulsate { 
    0% {opacity: 0.3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

#canvas {
    margin: 0;
    padding: 0;
}

#control-panel {
    position: absolute;
    left: 700px;
    top: 60px;
    width: 300px;
}

#options {
    position: absolute;
    top: 0;
    left: -270px;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    width: 350px;
    background-color: rgba(0,0,0,.9);
    border-right: 2px solid #6fc0ba;
    visibility: hidden;
}

#options-content {
    opacity: 0;
    padding-left: 30px;
}

.header{

    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
    color: #fff;
    padding: 2px 0;
    visibility: hidden;
    left: 25px;
    width: 300px;
    font-size: 6pt

}

.header-left-section {
    float: left;
    width: 70%;
    background-color: #000;
    margin-left: -5px;
    padding: 0 8px;
}

.header-right-section {
    float: right;
    width: 20%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}

#header-bottom {
    position: absolute;
    bottom: 100px;
}


#header-top {
    position: absolute;
    top: 25px;
}

.header-animator{
    position: absolute;
    top: 300px;
    left: 25px;
    width: 300px;
    height: 2px;
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    visibility: hidden;
}

.projection {
    border-radius: 3px;
    opacity: .5;
    cursor: crosshair;
}

#add-element {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 275px; 
   padding-top: 5px;
   border-bottom: 1px solid #1d2c33;
   padding-bottom: 5px;
   margin-bottom: 5px;

}

.button {
   text-align: center;
   border: 1px solid #1d2c33;
   border-radius: 3px;
   padding: 5px;
   cursor: pointer;
}

.button:hover {
    background-color: #111;
}

#add-element li {
   float: left; 
   width: 25%;
   margin: 5px;
} 

#add-element li:first-child {
   margin-left: 2px;
   
} 

#add-element .selected {
    background-color: #111;
}

label {
    /* clear: both; */
    /* float:left; */
    display: inline-block;
    width: 120px;
    margin-top: 12px;
}

#color-options {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 50%;
}

#color-options li{
   cursor: pointer;
   display: inline-block;
}

#pin-color {
    background-color: #00eeee;
}

#marker-color {
    background-color: #ffcc00;
}

#satellite-color {
    background-color: #ff0000;
}

#apply-button {
    clear: both;
    width: 100px;
    margin-top:20px;
}


/* spectrum changes */

.sp-dd {
    display: none;
}

.sp-replacer {
    padding: 0;
    background-color: inherit;
    border: none;
}
.sp-preview {
    float: none;
    width: 10px;
    height: 10px;
    margin-right: 0;
    border: 1px solid #1d2c33;
}

/* simple slider */

.slider {
  width: 100px;
  display: inline-block;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 8px;
  height: 8px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 2px;
}

.slider > .highlight-track {
    background-color: #8DCA09;
    background: -webkit-linear-gradient(top, #8DCA09, #72A307);
    background: -moz-linear-gradient(top, #8DCA09, #72A307);
    background: linear-gradient(top, #8DCA09, #72A307);
    
    border-color: #496805;
}

.slider-output {
    padding-left: 3px;

}

.switch {
    display: inline-block;
    width: 40%;


}

#banner {
    font: 28pt Georgia;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    background-color: rgba(0,0,0,.9);
    margin: 0px;
    line-height: .5em;
    padding-left: 10px;


}
#banner small {
    font-size: 12pt;
    white-space: nowrap;
    padding-left:3px;

}

@media (max-width: 800px) {
    #options, #thumbprint, .header {
        display: none;
    }
    #info-box {
        padding: 10px;

    }
}
@media (min-width: 800px) {
    #globe {
        margin-left: 200px;
    }
}

@media (max-width: 800px) {
    #thumbprint {
        bottom: 30px;
    }
    #header-bottom {
        bottom: 120px;

    }

}

@media (max-width: 1400px) {
    #thumbprint {
        bottom: 30px;
    }
    #header-bottom {
        bottom: 120px;

    }

}

@media (max-height: 700px) {
    #options, #thumbprint, .header {
        display: none;
    }
    #globe {
        margin-left: 0;

    }
}
